@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

form, table, .box {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);

  border: 2px solid black;
  width: fit-content;

  padding: 16px;
}

input, button {
  background-color: rgb(255, 255, 255);
  border: 2px solid gray;

  padding: 4px;
}

input[type='submit'], button {
  cursor: pointer;

  transition: .2s;
}

input[type='submit']:hover, button:hover {
  background-color: rgb(233, 233, 233);
}

main {
  display: block;

  width: 100%;
}

section {
  display: block;
  justify-content: center;

  padding: 24px;

  border-bottom: 1px solid black;
}

h2 {
  margin-top: -6px;
}

.logo {
  border-bottom: 1px solid black;
}

.logo, footer {
  margin-left: 24px;
}

.centered {
  text-align: center;
}

.positive {
  background-color: rgb(169, 251, 166);
}

.negative {
  background-color: rgb(255, 194, 194);
}

.neutral {
  background-color: rgb(194, 246, 255);
}

td {
  padding: 12px;
}